<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/gif "access plus 60 days"
  ExpiresByType image/jpg "access plus 60 days"
  ExpiresByType image/jpeg "access plus 60 days"
  ExpiresByType image/png "access plus 60 days"
</IfModule>